@import "tailwindcss";

@font-face {
  font-family: 'CarryYou';
  src: url('/fonts/carry-you.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THViettay';
  src: url('/fonts/viettay-6.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FzManchesterSignature';
  src: url('/fonts/FzManchesterSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #F6F0D7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-carry: 'CarryYou';
  --font-viettay: 'THViettay';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes handwriting {
  0% {
    background-position: -100% 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    background-position: 100% 0;
    opacity: 1;
  }
}